html {
  font-size: 62.5% !important;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #222;
  padding: 1.6rem 3.2rem;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #fff;
  font-size: 3.2rem;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links > a > i {
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
}

i:hover {
  opacity: 0.75;
}

.social-links > a + a {
  margin-left: 1rem;
}

.portfolio-container {
  padding: 1.6rem 3.2rem;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
  color: #222;
}

h1 + section {
  margin-top: 1.6rem;
}

.project-tiles {
}

.project-tile {
  width: 100%;
  margin: 0 auto;
  max-width: 48rem;
  padding: 1.6rem 0;
  text-align: center;
}

.project-tile:hover {
  opacity: 0.9;
}

.project-tile + .project-tile {
  /* margin-top: 2.4rem; */
  border-top: solid 1px #222;
}

.project-image {
  width: 100%;
  margin-bottom: 1rem;
}

.project-info {
  display: flex;
  flex-flow: column;
}

.project-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.project-description {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #222;
}

section + section {
  margin-top: 1.6rem;
}

@media only screen and (min-width: 768px) {
  .project-tile {
    width: 50%;
  }
}
